// COLORS
$darkBlack: #080808;
$black: #0d0d0d;
$bluredBlack: #333333;
$blackBox: #252525;
$blackOpacity06: rgba(13, 13, 13, 0.6);
$red: #9e0303;
$bluredRed: #a81d1d;
$activeRed: #c20000;
$white: #e7e7e7;
$green: #7ac64d;
