.Nav {
  ul {
    background-color: #132743;
    padding: 2em;
    display: flex;
    justify-content: center;
    color: #d7385e;

    li {
      margin-right: 1em;
      list-style-type: none;
    }
  }
}
